<!-- templates/pages/evento_form.html -->
{% extends 'base.html' %}

{% block title %}Formulario de Evento{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>{% if evento %}Editar Evento{% else %}Crear Nuevo Evento{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% if evento %}Actualizar{% else %}Crear{% endif %}</button>
    </form>
    <a href="{% url 'evento_list' proceso.id %}" class="btn btn-secondary mt-3">Volver a Eventos</a>
</div>
{% endblock %}
