<!-- templates/pages/evento_form.html -->
{% extends 'base.html' %}

{% block title %}
    Crear/Editar Evento
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>{% if evento %}Editar{% else %}Crear{% endif %} Evento para el Proceso: {{ proceso.nombre }}</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% if evento %}Actualizar{% else %}Crear{% endif %}</button>
    </form>
</div>
{% endblock %}
