<!-- templates/pages/evento_list.html -->
{% extends 'base.html' %}

{% block title %}
    Lista de Eventos
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Lista de Eventos para el Proceso: {{ proceso.nombre }}</h2>
    <a href="{% url 'evento_create' proceso.id %}" class="btn btn-primary mb-3">Agregar Evento</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Actividad</th>
                <th>Documento</th>
                <th>Fecha</th>
                <th>Situación</th>
                <th>Importe</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for evento in eventos %}
            <tr>
                <td>{{ evento.actividad }}</td>
                <td>{{ evento.documento }}</td>
                <td>{{ evento.fecha }}</td>
                <td>{{ evento.situacion }}</td>
                <td>{{ evento.importe }}</td>
                <td>
                    <a href="{% url 'evento_detail' proceso.id evento.id %}" class="btn btn-info btn-sm">Ver</a>
                    <a href="{% url 'evento_update' proceso.id evento.id %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'evento_delete' proceso.id evento.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
